@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('./fonts/droidsans.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  src: local('Oswald '), local('Oswald'), url('./fonts/oswald.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('./fonts/droidsansmono.woff') format('woff');
}
@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-weight: normal;
  src: local('LoveYaLikeASister'), url('./fonts/loveyalikeasister.woff') format('woff');
}
